<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">Map Engine Optimization</h1>
    <h2 class="text-white">provided by Leretto</h2>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <%= link_to 'Log in', '/login', class: 'btn btn-block btn-white' %>
      </div>
      </div>
    </div>
  </div>
</div>
